nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--aquadark); */
    margin: 25px 30px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

h1,
h5 {
    margin: 0;
}

img {
    width: 4em;
}

.links {
    display: flex;
    /* background-color: red; */
    color: white;
    gap: 30px;
}

.links > p {
    font-weight: 500;
    font-size: 20px;
}
